*

!.gitignore
!.gitmodules

!/.bashrc
!/.bashrc.d
!/.bashrc.d/aliases
!/.bashrc.d/appimage

!/.bunfig.toml
!/.tmux.conf

!/.config

!/.config/alacritty
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes

!/.config/breezerc

!/bin
!/bin/24-bit-color.sh
!/bin/terminal
!/bin/quick-terminal

